<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #ff0d00;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
            color: #333333;
        }
        .highlight {
            font-weight: bold;
            color: #007bff;
            word-break: break-all; /* Ensures long addresses don't overflow */
        }
        .button {
            display: inline-block;
            margin: 20px 0;
            padding: 10px 20px;
            background-color: #c24619;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            width: 100%;
            box-sizing: border-box; /* Ensures padding is included in width */

        }
        .button:hover {
            background-color: #dd5211;
        }
        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #666666;
            text-align: center;
        }
        .anchor {
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Transaction Rejected!</h1>
        <p>Dear {{fullName}},</p>
        <p>We are pleased to inform you that your transaction has been rejected. Below is the transaction address for your reference:</p>
        <p><strong>Transaction Address:</strong> <span class="highlight">{{transactionUuid}}</span></p>
        <p>to see more transaction detail and other event, visit our website.</p>
        <p href="{{linkUrl}}" target="_blank" class="button">Visit our website</p>
        <div class="footer">
            <p>Thank you for choosing our platform!</p>
        </div>
    </div>
</body>
</html>